<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.WaTF.WaTFBank">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.WaTF.WaTFBank.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.WaTF.WaTFBank.SetPin" />
        <activity android:name="com.WaTF.WaTFBank.CheckPin" />
        <activity android:name="com.WaTF.WaTFBank.AccountSummary" />
        <activity android:name="com.WaTF.WaTFBank.Home" />
        <activity android:name="com.WaTF.WaTFBank.Transfer" />
        <activity android:name="com.WaTF.WaTFBank.TransferFavorite" />
        <activity android:name="com.WaTF.WaTFBank.TransactionHistory" />
        <activity android:name="com.WaTF.WaTFBank.AddFavoriteAccount" />
        <activity android:name="com.WaTF.WaTFBank.TransferResult" />

        <receiver android:name="com.WaTF.WaTFBank.Receiver">
            <intent-filter>
                <action android:name="com.WaTF.WaTFBank.SEND_SMS" />
            </intent-filter>
        </receiver>

        <provider
            android:name="com.WaTF.WaTFBank.FavoriteAccountProvider"
            android:authorities="com.WaTF.WaTFBank.FavoriteAccountProvider"
            android:exported="true" />

        <activity android:name="com.WaTF.WaTFBank.Root"></activity>
    </application>

</manifest>